<div class="panel-heading">
  <a data-toggle="collapse" href="#<%= target %>" aria-expanded="true" aria-controls="<%= target %>">
    <%= title %>
  </a>
  <a class="pull-right" data-toggle="collapse" href="#<%= target %>" aria-expanded="true" aria-controls="<%= target %>">
    <small><strong>[show/hide]</strong></small>
  </a>
</div>