<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @comment.project.title, @comment.project if @comment.project %>
</p>

<p>
  <% unless @comment.parent.nil? %>
    <%= link_to "Parent comment", project_comment_path(@comment.parent.project, @comment.parent) %>
  <% else %>
    <%= "This is a root comment" %>
  <% end %>
</p>
<%= link_to 'Reply to this comment', new_project_comments_path(@comment.project,@comment) %>

<%= link_to 'Back', project_comments_path %>