<% provide :title, @project.title %>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
    <div class="row">
      <h3><%= @project.title %></h3>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->

<div class="container mt">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 centered">
      <%= image_tag @project.thumbnail, class: 'img-responsive' %>
    </div>

    <div class="col-lg-5 col-lg-offset-1">
      <div class="spacing"></div>
      <h3><%= @project.title %></h3>

      <p>
        <%= @project.about %>
      </p>
      <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-warning' if can? :edit, @project %>
      <%= link_to 'Destroy', @project, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, @project%>
      <%= link_to 'Back', projects_path, class: 'btn btn-default' %>

      <div id="comments">
        <h3>Comments</h3>

        <%= comment_return_link %>

        <% if @comments.any? %>
            <div>
              <%= render partial: 'comment', collection: @comments %>
            </div>
        <% else %>
            <em>No comments yet</em><br/>
        <% end %>
        <br/>
        <%= link_to 'Leave a comment', new_project_comments_path(@project), class: 'btn btn-primary btn-m' %>

      </div>
    </div>

    <div class="col-lg-4 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-12">
          <div class="spacing"></div>
          <h4>Instructions</h4>

          <div class="hline"></div>
          <p>
            <%= @project.instructions %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="spacing"></div>
          <h4>Project Details
            <%= heart_link %>
          </h4>

          <div class="hline"></div>
          <p><b>Created:</b> <%= @project.created_at %></p>

          <p><b>Last Modified:</b> <%= @project.updated_at %></p>

          <p><b>Author:</b> <%= @project.user.username %></p>

          <p><b>Hearts:</b> <%= @project.likes %></p>
        </div>
      </div>

    </div>

  </div>
  <! --/row -->
</div><! --/container -->

<!-- *******************************V**********************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
<div id="portfoliowrap">
  <div class="portfolio-centered">
    <h3>Related Works.</h3>

    <div class="recentitems portfolio">
      <%= render partial: 'application/solid_portfolio_item',
                 locals: {
                         title: 'A Graphic Design Item',
                         thumb_url: '/solid/img/portfolio/portfolio_09.jpg',
                         full_size_url: '/solid/img/portfolio/portfolio_09.jpg',
                         link_url: '/solid/single-project.html'

                 } %>
      <%= render partial: 'application/solid_portfolio_item',
                 locals: {
                         title: 'A Web Design Item',
                         thumb_url: '/solid/img/portfolio/portfolio_02.jpg',
                         full_size_url: '/solid/img/portfolio/portfolio_02.jpg',
                         link_url: '/solid/single-project.html'

                 } %>
      <%= render partial: 'application/solid_portfolio_item',
                 locals: {
                         title: 'A Graphic Design Item',
                         thumb_url: '/solid/img/portfolio/portfolio_03.jpg',
                         full_size_url: '/solid/img/portfolio/portfolio_03.jpg',
                         link_url: '/solid/single-project.html'

                 } %>

      <%= render partial: 'application/solid_portfolio_item',
                 locals: {
                         title: 'A Graphic Design Item',
                         thumb_url: '/solid/img/portfolio/portfolio_04.jpg',
                         full_size_url: '/solid/img/portfolio/portfolio_04.jpg',
                         link_url: '/solid/single-project.html'

                 } %>

      <%= render partial: 'application/solid_portfolio_item',
                 locals: {
                         title: 'A Graphic Design Item',
                         thumb_url: '/solid/img/portfolio/portfolio_05.jpg',
                         full_size_url: '/solid/img/portfolio/portfolio_05.jpg',
                         link_url: '/solid/single-project.html'

                 } %>

    </div>
    <!-- portfolio -->
  </div>
  <!-- portfolio container -->
</div><!--/Portfoliowrap -->
	 
	 	 
