<% provide :title, @project.title %>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
    <div class="row">
      <h3><%= @project.title %></h3>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->

<div class="container mt">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-1 col-md-7 centered">
      <%= image_tag @project.thumbnail, class: 'img-responsive' %>
    </div>

    <div class="col-lg-4 col-md-5">
      <div class="row spacing-sm">
        <div class="col-lg-12">
          <h4>Instructions</h4>

          <div class="hline"></div>
          <p class="instructions">
            <%= @project.instructions %>
          </p>
        </div>
        <div class="col-lg-12">
          <div class="spacing"></div>
          <h4>Project Details
            <span class="pull-right">
              <%= @project.likes %>
              <%= heart_link %>
            </span>
          </h4>

          <div class="hline"></div>
          <p><b>Created:</b> <%= @project.created_at %></p>

          <p><b>Last Modified:</b> <%= @project.updated_at %></p>

          <p><b>Author:</b> <%= link_to @project.author.username, profile_path(@project.author) %></p>

          <p><b>Tags:</b>
            <% @project.tags.pluck(:name).each do |x| %>
                <%= link_to x, projects_path(tag: x), class: 'btn btn-xs btn-theme' %>
            <% end %>
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="spacing"></div>
      <h3><%= @project.title %></h3>

      <div class="hline"></div>
      <p>
        <%= @project.about %>
      </p>
      <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-warning' if can? :edit, @project %>
      <%= link_to 'Destroy', @project, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} if can? :destroy, @project %>

      <div id="comments">
        <h3>Comments</h3>

        <%= comment_return_link %>

        <% if @comments.any? %>
            <div>
              <%= render partial: 'comment', collection: @comments %>
            </div>
        <% else %>
            <em>No comments yet</em><br/>
        <% end %>
        <br/>
        <%= link_to 'Leave a comment', new_project_comments_path(@project), class: 'btn btn-primary btn-m' if can? :create, Comment %>

      </div>
    </div>

  </div>
  <!-- /row -->
</div>
<!-- /container -->

<!-- *******************************V**********************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
<div id="portfoliowrap">
  <h3>Related Works.</h3>
  <%= solid_portfolio do %>
      <%= @related_works.each do |work| %>
          <%= solid_portfolio_item work.title,
                                   work.thumbnail,
                                   work.thumbnail,
                                   work.url
          %>
      <% end %>
  <% end %>
</div>
<!--/Portfoliowrap -->
	 
	 	 
