<% provide :title, 'SOLID - Bootstrap 3 Theme' %>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
<div id="blue">
  <div class="container">
    <div class="row">
      <h3>Single Project.</h3>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->

<div class="container mt">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 centered">
      <%= solid_image_carousel('carousel-example-generic', %w(/solid/img/portfolio/single01.jpg /solid/img/portfolio/single02.jpg /solid/img/portfolio/single03.jpg)) %>
    </div>

    <div class="col-lg-5 col-lg-offset-1">
      <div class="spacing"></div>
      <h4>YOUR PROJECT NAME</h4>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.</p>
      <h4>Our Proposal</h4>

      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div class="col-lg-4 col-lg-offset-1">
      <div class="spacing"></div>
      <h4>Project Details</h4>

      <div class="hline"></div>
      <p><b>Date:</b> April 18, 2014</p>

      <p><b>Author:</b> Marcel Newman</p>

      <p><b>Categories:</b> Illustration, Web Design, Wordpress</p>

      <p><b>Tagged:</b> Flat, UI, Development</p>

      <p><b>Client:</b> Wonder Corp.</p>

      <p><b>Website:</b> <a href="http://blacktie.co">http://blacktie.co</a></p>
    </div>

  </div>
  <!-- /row -->
</div><!-- /container -->

<!-- *****************************************************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
<div id="portfoliowrap">
  <%= solid_portfolio do %>
      <%= solid_portfolio_item 'A Graphic Design Item',
                               '/solid/img/portfolio/portfolio_09.jpg',
                               '/solid/img/portfolio/portfolio_09.jpg',
                               '/solid/single-project.html' %>
      <%= solid_portfolio_item 'A Web Design Item',
                               '/solid/img/portfolio/portfolio_02.jpg',
                               '/solid/img/portfolio/portfolio_02.jpg',
                               '/solid/single-project.html' %>
      <%= solid_portfolio_item 'A Graphic Design Item',
                               '/solid/img/portfolio/portfolio_03.jpg',
                               '/solid/img/portfolio/portfolio_03.jpg',
                               '/solid/single-project.html' %>
      <%= solid_portfolio_item 'A Graphic Design Item',
                               '/solid/img/portfolio/portfolio_04.jpg',
                               '/solid/img/portfolio/portfolio_04.jpg',
                               '/solid/single-project.html' %>
      <%= solid_portfolio_item 'A Graphic Design Item',
                               '/solid/img/portfolio/portfolio_05.jpg',
                               '/solid/img/portfolio/portfolio_05.jpg',
                               '/solid/single-project.html' %>
  <% end %>
</div><!--/Portfoliowrap -->
	 
	 	 
