<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>
<p>
  <strong>Curator:</strong>
  <%= @gallery.author.username || "Uncurated" %>
</p>

<!-- *****************************************************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
<div id="portfoliowrap">
  <div>
    <h3>Projects:</h3>

    <%= solid_portfolio do %>
        <% @projects.each do |project| %>
            <%= solid_portfolio_item(project.title, project.thumbnail, project.thumbnail, project_path(project)) %>
        <% end %>
    <% end %>
  </div>
  <!-- portfolio container -->
</div><!--/Portfoliowrap -->

<% if can? :edit, @gallery %>
    <%= link_to 'Edit', edit_gallery_path(@gallery), class: 'btn btn-warning' %>
<% end %>
<% if can? :destroy, @gallery %>
    <%= link_to 'Destroy', @gallery, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>
<%= link_to 'Back', galleries_path, class: 'btn btn-default' %>
