<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>
<p>
  <strong>Curator:</strong>
  <%= @gallery.user.username || "Uncurated" %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery), class: 'btn btn-warning' %>
<%= link_to 'Destroy', @gallery, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', galleries_path, class: 'btn btn-default' %>
