<body <%= content_for?(:body_attributes) ? yield(:body_attributes) : '' %>>
<%= render 'header' %>
<%= content_for?(:pre_container) ? yield(:pre_container) : '' %>
<div id="whole-body">
  <%= render 'layouts/flashes' %>
  <div id="main-body" class="<%= controller_classes %>">
    <% unless user_signed_in? %>
        <%= render 'login_modal' %>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>

